<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.rezarasoulzadeh.digikala">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".service.config.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/digikala"
        android:label="@string/app_name"
        android:roundIcon="@drawable/digikala"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.CategoryActivity" />
        <activity android:name=".view.activity.ListActivity" />
        <activity android:name=".view.activity.ProductActivity" />
    </application>

</manifest>